*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    gap: 2rem;
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

.wrap-brand .nav-link {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.wrap-brand .navbar-brand:last-child {
    margin: 0;
    padding: 0;
    padding-block: 1rem;
    height: 80px;
    align-items: center;
}

.navbar {
    background-color: rgb(255, 166, 0);
}

#linker li {
    font-weight: auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: .4s ease-in-out;
}

#linker li:hover {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.navbar-nav li:last-child:hover {
    border-bottom: none
}

#active {
    border-bottom: 2px solid white;
}

#cek {
    height: 100%;
}

.text h1 {
    font-size: 2.5rem;
}

.gambar {
    max-width: 15%;
    max-height: 300px;
    border: 1px solid black;
    position: relative;
}

.gambar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav {
    gap: 20px;
}

a {
    color: white !important;
}

.fcontainer {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.315);
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    background: black;
}

td,
p,
select {
    font-size: 100%;
}

.statusPerubahan {
    width: 60%;
    gap: 8rem;
}

.tanggalKadaluarsa {
    width: 20%;
}

tr td {
    position: relative;
    max-width: 100%;
    padding: none;
    padding-block: .5rem;
}

tr td:first-child {
    width: 20%;
    font-weight: 700;
    color: rgb(129, 129, 129)
}

tr td:first-child::after {
    content: ':';
    position: absolute;
    right: 0;
    color: black;
    font-weight: 300;
}

tr td.st:first-child::after {
    content: ' ';
    position: absolute;
    right: 0;
    color: black;
    font-weight: 300;
}

tr td:last-child {
    width: 80%;
    padding-inline: .5rem;
}

.table {
    border: none;
    margin: 0;
}

.table>:not(caption)>*>* {
    border: none;
}

.navbar-brand img {
    width: 100%;
    height: 70px;
}

footer {
    margin-top: auto;
}

@media screen and (max-width: 1200px) {
    .gambar {
        max-width: 20%;
    }

    .statusPerubahan {
        width: 60%;
        gap: 3rem;
    }

    .tanggalKadaluarsa {
        width: 20%;
    }

}

@media screen and (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        gap: unset;
    }

    #linker li:hover {
        font-weight: 700;
        transition: font-weight .4s ease-in-out;
        border: none;
    }

    .navbar-nav #active {
        font-weight: 700;
        transition: font-weight .4s ease-in-out;
        border: none;
    }

    .active {
        border: none;
    }

    .gambar {
        max-width: 25%;
        max-height: 100%;
    }

    tr td:first-child {
        width: 30%;
    }

    #cek {
        height: 10%;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .statusPerubahan {
        width: 60%;
        gap: 6.3rem;
    }

    .tanggalKadaluarsa {
        width: 20%;
    }

    td,
    p,
    .status {
        font-size: 80%;
    }
}

@media screen and (max-width: 800px) {
    .gambar {
        max-width: 24%;
    }

    .text h1 {
        font-size: 2rem;
    }

    td,
    p,
    .status {
        font-size: 60%;
    }

    .statusPerubahan {
        width: 60%;
        gap: 4.3rem;
    }

    .tanggalKadaluarsa {
        width: 20%;
    }

}

@media screen and (max-width: 630px) {
    .gambar {
        max-width: 28%;
    }

    td,
    p,
    .status {
        font-size: 50%;
    }

    tr td {
        padding-block: .2rem;
    }

    .text h1 {
        font-size: 1.5rem;
    }

    .statusPerubahan {
        width: 70%;
        gap: 3rem;
    }

    .tanggalKadaluarsa {
        width: 20%;
    }

}

@media screen and (max-width: 500px) {
    .gambar {
        max-width: 30%;
        height: 150px;
    }

    td,
    p.status {
        font-size: 80%;
    }

    .text h1 {
        font-size: 1rem;
    }

    tr td:first-child {
        width: 50%;
    }

    tr#namaPemesan>td:nth-last-child(1)>div {
        position: absolute;
        display: inline-block;
        padding-block: .17rem;
        align-items: center;
        text-wrap: nowrap;
        max-width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        top: 0;

    }

    .statusPerubahan {
        width: 100%;
        gap: 3rem;
    }

    .tanggalKadaluarsa {
        width: 100%;
    }

    .statusWaktu {
        flex-wrap: wrap;
        gap: 2rem;
    }

    tr td:first-child::after {
        display: none;
    }

}

@media screen and (max-width: 375px) {
    .navbar-brand img {
        width: 85%;
        height: 40px
    }

    .gambar {
        max-width: 30%;
        height: 100px;
    }

    td,
    p.status {
        font-size: 80%;
    }

    .text h1 {
        font-size: 1rem;
    }

    tr td:first-child {
        width: 90%;
    }

    tr td:last-child {
        width: 10%;
    }

    tr#namaPemesan>td:nth-last-child(1)>div {
        position: absolute;
        display: inline-block;
        padding-block: .17rem;
        align-items: center;
        text-wrap: nowrap;
        max-width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        top: 0;

    }

    .statusPerubahan {
        width: 100%;
        gap: 3rem;
    }

    .tanggalKadaluarsa {
        width: 100%;
    }

    .statusWaktu {
        flex-wrap: wrap;
        gap: 2rem;
    }

}

h2.nav-nickname {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

hr {
    margin: 0;
    border: none;
    outline: none;
    background-color: white;
    opacity: .5;
    width: 2px;
    height: 100%
}

@media (max-width:992px) {
    hr {
        opacity: 1;
        width: 2px;
        height: 42px;
    }
}

@media (max-width:338px) {
    .wrap-brand {
        width: 75%;
    }
}