*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

#active {
    border-bottom-color: rgba(255, 166, 0, 1);
}

/* copy ini */
#linker li {
    font-weight: auto;
    border-bottom: 2px solid rgba(255, 166, 0, 0);
    transition: .4s ease-in-out;
}

#linker li:hover {
    border-bottom-color: rgba(255, 166, 0, 1);
}

#linker li.scroll:hover {
    border-bottom-color: rgba(255, 255, 255, 1);
}

#linker li.scroll:active {
    border-bottom-color: rgba(255, 255, 255, 1);
}

/* dan sini */

.navbar-nav {
    gap: 20px;
}

a {
    color: white !important;
}

main {
    margin-block: 3rem;
}


#Hero {
    width: 100%;
    background-image: url('/static/bgHero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.fcontainer {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.315);
}

#narator :is(.col-md-8, .col-md-4) {
    padding-block: 2.5rem;
}

#narator p {
    margin-block: 1rem;
    text-align: justify;
}

#narator img {
    width: 150px;
}

@media screen and (max-width:992px) {
    .navbar-nav {
        text-align: center;
        gap: unset;
    }

    .navbar {
        background-color: #ffa600;
    }

    /* copy sini */
    #active {
        font-weight: 700;
        transition: font-weight .4s ease-in-out;
        border: none;
    }

    .active {
        border: none;
    }

    #linker li:hover {
        font-weight: 700;
        transition: font-weight .4s ease-in-out;
        border: none;
    }

    #linker li.scroll:active {
        font-weight: 700;
        transition: font-weight .4s ease-in-out;
        border: none;
    }

    /* dan sini */
}

@media screen and (max-width: 768px) {
    #narator p {
        margin-block: 0;
    }

    #narator :is(.col-md-8, .col-md-4) {
        padding-block: 0;
    }
}

@media screen and (max-width: 375px) {
    .navbar-brand img {
        width: 85%;
        height: 40px
    }

}

.video .heading{
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 160, 51, 0.05);
}

.video .heading span{
    color: orange;
}

@media (max-width:450px) {
    .video .heading{
        font-size: 2rem;
    }
}

.video .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.video .row .col-md-6{
    flex: 1 1 40rem;
    position: relative;
}

.video .row .col-md-6 video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.video .row .col-md-6 h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.gambar{
    position: relative;
}
 
.gambar h2{
    color: orange;
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
}

.gambar .container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.gambar .container .image-container .image{
    height: 300px;
    width: 300px;
    border: 10px solid #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.gambar .container .image-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.gambar .container .image-container .image:hover img{
    transform: scale(1.1);
}

.gambar .container .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.gambar .container .popup-image span{
    position: absolute;
    top: 70px; right: 250px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.gambar .container .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 700px;
    object-fit: cover;
}

@media (max-width:768px) {
    .gambar .container .popup-image img{
        width: 95%;
    }
}
