*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#active {
    color: orange;
}

#linker li {
    font-weight: auto;
    border-bottom: 2px solid rgba(255, 166, 0, 0);
    transition: .4s ease-in-out;
}

#linker li:hover {
    border-bottom-color: rgba(255, 166, 0, 1);
}

#linker li.scroll:hover {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.navbar-nav {
    gap: 20px;
}

a {
    color: white !important;
}

main {
    margin-block: 3rem;
}


#Hero {
    width: 100%;
    background-image: url('/static/bgHero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.fcontainer {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.315);
}

#narator :is(.col-md-8, .col-md-4) {
    padding-block: 2.5rem;
}

#narator p {
    margin-block: 1rem;
    text-align: justify;
}

#narator img {
    width: 150px;
}

@media screen and (max-width:992px) {
    .navbar-nav {
        text-align: center;
        gap: unset;
    }

    .navbar {
        background-color: rgb(255, 166, 0);
    }

    .active {
        border: none;
    }

    #linker li:hover {
        font-weight: 700;
        transition: font-weight .4s ease-in-out;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    #narator p {
        margin-block: 0;
    }

    #narator :is(.col-md-8, .col-md-4) {
        padding-block: 0;
    }
}

@media screen and (max-width: 375px) {
    .navbar-brand img {
        width: 85%;
        height: 40px
    }

}