.text-truncate-container p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardImage {
  overflow: hidden;
}

.card img {
  transition: 0.5s;
}

.card:hover img {
  scale: 1.5;
}
